.unch-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #a4abac;
}

.unch-background {
  position: relative;
  width: 100vmax;
  height: 29.5vmax;
  background-image: url("../../assets/images/unch-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.unch-power-switch {
  position: absolute;
  bottom: 8%;
  left: 8%;
  width: 8%;
  height: auto;
  cursor: pointer;
}

.unch-filter-switch {
  position: absolute;
  top: 18%;
  left: 23%;
  width: 8%;
  height: auto;
  cursor: pointer;
}
