.unch-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c5c5c5;
  overflow: hidden;
}

.unch-background {
  margin: 0 20px;
  position: relative;
  width: 100vmax;
  height: 30vmax;
  background-color: #af9f8f;
  border-radius: 10px;
}

.unch-closed-pin {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: gray;
  width: 8vmax;
  height: 8vmax;
  box-shadow: inset 0px 0px 10px 0px;
}

.unch-closed-pin-small {
  border-radius: 50%;
  background-color: darkgray;
  width: 2vmax;
  height: 2vmax;
}

.first-pin {
  position: absolute;
  top: 10%;
  left: 5%;
}

.second-pin {
  position: absolute;
  top: 60%;
  left: 45%;
}

.unch-power-switch {
  position: absolute;
  bottom: 8%;
  left: 8%;
  width: 8%;
  height: auto;
  cursor: pointer;
}

.unch-filter-switch {
  position: absolute;
  top: 18%;
  left: 23%;
  width: 8%;
  height: auto;
  cursor: pointer;
}

.unch-sound-spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 8%;
}

.filter-switch {
  position: absolute;
  top: 10%;
  left: 19%;
}

.on-off-switch {
  position: absolute;
  bottom: 13%;
  left: 5.5%;
}

.unch-switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3bfb4;
  width: 7vmax;
  height: 10vmax;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0px;
  cursor: pointer;
}

.unch-switch-container__on {
  transform: rotate(180deg);
}

.unch-switch-pin {
  position: absolute;
  width: 1.5vmax;
  height: 1.5vmax;
  border-radius: 50%;
  background-color: gray;
}

.switch-top {
  top: 5%;
}

.switch-left {
  left: 5%;
}

.switch-bottom {
  bottom: 5%;
}

.switch-right {
  right: 5%;
}

.unch-sitch-foundation {
  display: flex;
  justify-content: center;
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  background-color: #4e4e96;
  box-shadow: inset 0px 0px 4px 0px;
}

.unch-sitch-handle {
  position: relative;
  top: 35%;
  height: 80%;
  width: 40%;
  background-color: #4e4e96;
  box-shadow: inset 0px 0px 4px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.handle-block {
  width: 100%;
  height: 20%;
  background: #4e4e96;
}

.unch-power-foundation {
  position: absolute;
  top: 60%;
  left: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: silver;
  width: 8vmax;
  height: 8vmax;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0px;
  cursor: pointer;
}

.unch-power-input {
  box-sizing: border-box;
  border: 2px solid gray;
  background-color: black;
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
}

.unch-sound-container {
  position: absolute;
  top: 60%;
  left: 58%;
  border-radius: 50%;
  background: #4e4e96;
  width: 8vmax;
  height: 8vmax;
  box-shadow: 0px 0px 4px 0px;
  cursor: grab;
}

.unch-sound-line {
  position: absolute;
  height: 50%;
  width: 20%;
  background: #6565be;
  left: 40%;
  top: 50%;
  transform-origin: top;
}

.sound-line-left {
  transform: rotate(-135deg);
}

.sound-line-right {
  transform: rotate(135deg);
}

.small-pin {
  position: absolute;
  box-sizing: border-box;
  width: 3vmax;
  height: 3vmax;
  border-radius: 50%;
  background-color: rgb(204, 186, 87);
  border: 0.3vmax solid #4e4e96;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-pin-inner {
  width: 1vmax;
  height: 1vmax;
  border-radius: 50%;
  background-color: black;
}

.small-pin-inner-line {
  position: absolute;
  width: 0.3vmax;
  height: 101%;
  background-color: black;
}

.small-pin-out {
  top: 30%;
  left: 65%;
}

.small-pin-unch {
  top: 30%;
  left: 70%;
}

.interface-input-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 186, 87);
  width: 10vmax;
  height: 10vmax;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0px;
  cursor: pointer;
}

.input-station {
  top: 10%;
  right: 5%;
}

.input-mtg {
  bottom: 10%;
  right: 5%;
}

.interface-input-socket {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(204, 110, 87);
  width: 8vmax;
  height: 8vmax;
  border-radius: 50%;
  border: 0.5vmax solid rgb(241, 221, 103);
}

.interface-input-hole {
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  background-color: black;
}

.interface-input-hole-small {
  position: absolute;
  width: 1vmax;
  height: 1vmax;
  border-radius: 50%;
  background-color: black;
}

.hole-top {
  top: 20%;
}

.hole-left {
  left: 20%;
}

.hole-bottom {
  bottom: 20%;
}

.hole-right {
  right: 20%;
}

.hole-center {
  top: 10%;
  left: 43%;
}

.small-switch-container {
  position: absolute;
  top: 58%;
  right: 25.5%;
  display: flex;
  justify-content: center;
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  background-color: gray;
  box-shadow: inset 0px 0px 4px 0px;
  cursor: pointer;
}

.small-switch-container__on {
  transform: rotate(180deg);
}

.small-switch-handle {
  position: relative;
  top: 35%;
  height: 80%;
  width: 30%;
  background-color: gray;
  box-shadow: inset 0px 0px 4px 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.small-switch-handle-block {
  width: 100%;
  height: 25%;
  background: gray;
}

.unch-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  color: white;
  font-size: 2vmax;
  text-shadow: 1px 0px 0px black;
  -webkit-text-stroke: 0.1vmax gray;
}

.filter-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  top: 3%;
  left: 27%;
}

.filter-on-text {
  top: 1%;
  left: 20.5%;
}

.power-on-text {
  left: 7%;
  bottom: 48%;
}

.power-volt-text {
  bottom: 41%;
  left: 20.5%;
}

.pin-out-text {
  top: 20%;
  right: 32%;
}

.pin-unch-text {
  top: 20%;
  right: 26%;
}

.on-off-unch-text {
  top: 48%;
  right: 26%;
}

.on-off-Tlf-text {
  top: 78%;
  right: 26%;
}

.station-input-text {
  top: 10%;
  right: 17%;
}

.mtg-input-text {
  bottom: 10%;
  right: 17%;
}

.sound-text {
  bottom: 50%;
  right: 34%;
}

.description-text {
  top: 13%;
  right: 49%;
}

.klemm-text {
  top: 33%;
  right: 35.5%;
}

.power-fork {
  position: absolute;
  width: 115%;
  height: 115%;
  border-radius: 20px;
  background-color: rgb(50, 50, 50);
  transition: transform 200ms;
  transform: translate(0, 300%);
}

.power-cable {
  width: 30%;
  height: 200%;
  left: 35%;
  background-color: gray;
  position: absolute;
  top: 35%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.power-fork__visible {
  transform: translate(0, 0);
}

.connected-unch-block {
  display: flex;
  align-items: center;
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(100%);
  transition: transform 200ms;
}

.connected-unch-block__visible {
  transform: translate(32%);
}

.connected-unch-short {
  width: 17vmax;
  height: 11vmax;
  border-radius: 15%;
  background-color: rgb(32, 31, 31);
}

.connected-unch-long {
  position: relative;
  width: 100%;
  height: 45%;
  background-color: rgb(78 78 78);
  right: 5vmax;
  border-top-left-radius: 1vmax;
  border-bottom-left-radius: 1vmax;
}

.connected-mtg-block {
  display: flex;
  align-items: center;
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(100%);
  transition: transform 200ms;
}

.connected-mtg-block__visible {
  transform: translate(32%);
}

.connected-mtg-short {
  width: 23vmax;
  height: 12vmax;
  border-radius: 16%;
  background-color: rgb(32, 31, 31);
}

.connected-mtg-long {
  position: relative;
  width: 100%;
  height: 70%;
  background-color: rgb(35 35 35);
  right: 5vmax;
  border-top-left-radius: 1vmax;
  border-bottom-left-radius: 1vmax;
}
