.modal-wrapper {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  transition: transform, opacity 300ms;
}

.modal-wrapper_visible {
  transform: scale(1);
  opacity: 1;
}

.modal-window {
  padding: 25px;
  border-radius: 7px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vmax;
  height: 12vmax;
}

.modal-header {
  font-size: 2vmax;
  text-align: center;
  font-weight: bold;
}

.modal-option {
  font-size: 1vmax;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
