.spinners_list {
  position: absolute;
  left: 27%;
  top: 40%;
  display: flex;
  flex-direction: row;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: #4c370a;
}

.station {
  position: relative;
  width: 100vmax;
  height: 50vmax;
  background-image: url("./assets/images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons {
  width: 10%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  bottom: 19%;
  right: 12%;
}

.switch-ta-57-view-button {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 2vmax;
  border-radius: 10px;
  z-index: 2;
  padding: 5px;
}

.switch-unhc-view-button {
  position: fixed;
  bottom: 2%;
  left: 2%;
  font-size: 2vmax;
  border-radius: 10px;
  z-index: 2;
  padding: 5px;
}

.turned-switch {
  position: absolute;
  bottom: 15%;
  right: 24%;
  width: 5%;
  height: auto;
  cursor: pointer;
}
