.spinners_list {
  position: absolute;
  left: 27%;
  top: 40%;
  display: flex;
  flex-direction: row;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #4c370a;
}

.station {
  position: relative;
  width: 100vmax;
  height: 50vmax;
  background-image: url("./assets/images/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.buttons {
  width: 10%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  bottom: 19%;
  right: 12%;
}
